.DS_Store
.git
.git/**
.github
.github/**
.env
.env.*
*.local.*
*.local.sql
*.local.md
logs
logs/**
*.log
coverage.out
frontend/node_modules
frontend/node_modules/**
frontend/dist
frontend/dist/**
frontend/.wrangler
frontend/.wrangler/**
